entrypoint = "main.py"
modules = ["python-3.8:v2-20230907-3d66d15"]

hidden = [".pythonlibs"]
run = ["python3", "main.py"]

[nix]
channel = "stable-23_05"

[env]
LANG = "en_US.UTF-8"

[interpreter]

[interpreter.command]
args = ["prybar-python3", "-q", "--ps1", "\u0001\u001B[33m\u0002\u0001\u001B[00m\u0002 ", "-i"]

[interpreter.command.env]
LD_LIBRARY_PATH = "$PYTHON_LD_LIBRARY_PATH"
